@using EquipmentManagement.Domain.DTO.Common
@using EquipmentManagement.Domain.DTO.SiteSide.EmployeeShifts
@using EquipmentManagement.Domain.Entities.Account
@using EquipmentManagement.Domain.Entities.PlaceOfService
@model CreateEmployeeShiftDTO

@{
    ViewData["Title"] = "افزودن وعده جدید";
    var itemsMealPricing = ViewBag.dropDownMealPricing as List<DropdownItem>;
}

@section Scripts
{
    <partial name="_JqueryValidation" />
    <script src="/admin/js/access.js"></script>
    <partial name="_PersianDatePickerScript" />
}
@section Styles
{
    <partial name="_PersianDatePickerLink" />

}

@section Breadcrumbs
{
    <li>
        <a href="javascript:void(0)"> @ViewData["Title"] </a>
    </li>
}

<form method="post" asp-action="CreateEmployeeShift" asp-controller="EmployeeShift">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-green">
                    <span class="widget-caption"> @ViewData["Title"] </span>
                </div>
                <div class="widget-body">
                    <div>
                        <input type="hidden" asp-for="EmployeeId" />
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-12">
                                <label asp-for="EmployeeId"> تاریخ شیفت</label>
                                <input type="text" class="form-control" data-jdp asp-for="Date">
                                <span class="text-danger" asp-validation-for="Date"></span>
                            </div>
                            @foreach (var item in itemsMealPricing??new List<DropdownItem>())
                            {
                                <div class="form-group col-md-12 col-sm-12">
                                    <label>
                                        <input type="checkbox" name="MealPricingIds" value="@item.Id" />
                                        <span class="text"> @item.Name </span>
                                    </label>
                                </div>

                     
                            }


                        </div>


                    </div>

                    <hr class="margin-bottom-10 margin-top-10" />

                    <div class="row">
                        <div class="col-md-12 flex-style">
                            <button type="submit" class="btn btn-labeled btn-palegreen">
                                <i class="btn-label glyphicon glyphicon-ok"></i>ثبت
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
</form>
