<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


    <partial name="_MetaTags" />
    <partial name="_HeaderReferences" />

    @await RenderSectionAsync("Styles", false)

    @await RenderSectionAsync("UpperScript", false)

</head>
<body>
    @await Component.InvokeAsync("Header")

    <div class="main-container container-fluid">
        <div class="page-container ">

            @await Component.InvokeAsync("SideBar")

            <div class="page-content">
                
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">

                        <li>
                            <i class="fa fa-home"></i>
                            <a asp-controller="Home" asp-action="Landing">خانه</a>
                        </li>

                        @RenderSection("Breadcrumbs", false)

                    </ul>
                </div>

                <partial name="_PageHeader" />

                <div class="page-body">

                    @RenderBody()

                </div>
            </div>
        </div>
    </div>

    <partial name="_FooterReferences" />

    <partial name="_Notification" />

    <partial name="_Modals" />

    @await RenderSectionAsync("Scripts", false)

</body>
</html>
