@{
    Layout = null;
}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>سامانه ی یکپارچه ی مدیریتی بیمارستان شفا</title>
	<!-- Modernizr -->
	<!-- <script src="js/modernizr.js"></script> -->
	<!-- Open Sans from Google Webfonts -->
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'> -->
	<!-- Main styles file -->
	<link rel="stylesheet" href="/content/Landing/css/bootstrap.min.css">
	<link rel="stylesheet" href="/content/Landing/css/styles.css" />
	<link rel="stylesheet" href="/content/Landing/css/component.css" />
	<!-- Icons via Font Awesome -->
	<link rel="stylesheet" href="/content/Landing/css/font-awesome.min.css" />
	<!-- #94151D,#EF394E -->
	<style>
		@@media(max - width:400px) {
			h1

		{
			margin-top: -40px;
		}

		}

		@@media(max - width:500px) {
			h1

		{
			margin-top: 76px;
		}

		}

		@@media(max - width:500px) {
			.col-500

		{
			width: 320px !important;
			height: 320px !important;
		}

		.col-501 {
			width: 150px !important;
			height: 150px !important;
		}

		.row {
			margin: 0 auto;
		}

		.container {
			width: auto;
			margin-left: 0px !important;
			margin-right: 0px !important;
			padding-right: 0px;
			padding-left: 0px;
		}

		.res_small {
			display: none;
		}

		.res_h1 {
			display: none;
		}

		.cs-style-4 figcaption a {
			bottom: 2.9em !important;
			right: 0 !important;
			font-size: 10px !important;
		}

		.grid figcaption a {
			padding: 5px 5.3px !important;
			border-radius: 2px !important;
		}

		}

		@@media (min-width:501px) and (max-width:520px) {
			h1

		{
			margin-top: 44px;
		}

		.row {
			margin: 0 9px;
		}

		.col-520 {
			width: 250px !important;
			height: 250px !important;
		}

		.col-521 {
			width: 110px !important;
			height: 110px !important;
		}

			.elRow {
				margin-left : 50px;
			}

		}

		@@media (min-width:992px) and (max-width:1036px) {
			.row-respansiv

		{
			margin: 0 190px;
		}

		.traz {
			margin: 0 74px;
			transform: translate(0px, 0px);
		}

		}</style>
</head>
<body class="color-scheme-sky" style="background-color: #ff7800b5 !important">
	<!-- Animated background -->
	<canvas id="bg-canvas"></canvas>
	<!--  -->
	<!-- First screen -->
	<div class="splash">
		<div class="centered-unit">
			<div class="container">
				<!-- Main header -->
				<h1>سامانه ی جامع یکپارچه ی بیمارستان شفا</h1>
				<!-- Sub header -->
				<p class="lead">با انتخاب آیتم مورد نظر خود به بخش مربوطه بروید</p>
				<div class="row row-respansiv over-hidden">
					<ul class="grid cs-style-4" style="margin-top: 50px">
						
						<li class="col-md-3 col-sm-6 col-501 col-521" style="float:none;height: 301px;width: 300px;">
							<a asp-action="ReceiveFoodDeliveryReceipt"
							   asp-area=""
							   asp-controller="SelfService">
								<figure>
									<div><img src="/content/Landing/images/1.png" alt="image 2"></div>
									<!--<figcaption>
									  <h1 class="res_h1">تضمین در خرید</h1>
									  <small class="res_small">انتخاب کن، تضمین با ما</small>
									  <a href="#">کلیک کن</a>
									</figcaption>-->
								</figure>
							</a>
						</li>

						<li class="col-md-3 col-sm-6 col-501 col-521" style="float:none;height: 301px;width: 300px;">
														<a asp-action="EquipmentLanding" asp-area="" asp-controller="Home">
							<figure>
									<div><img src="/content/Landing/images/2.png" alt="image 2"></div>
								<!--<figcaption>
								  <h1 class="res_h1">تضمین در خرید</h1>
								  <small class="res_small">انتخاب کن، تضمین با ما</small>
								  <a href="#">کلیک کن</a>
								</figcaption>-->
							</figure>
                            </a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>


	<!-- JavaScripts -->
	<script src="/content/Landing/js/jquery.js"></script>
	<!-- <script src="js/countdown.js"></script> -->
	<script src="/content/Landing/js/bezierCanvas.js"></script>
	<script src="/content/Landing/js/notifyMe.js"></script>
	<script src="/content/Landing/js/modernizr.custom.js"></script>
	<!-- <script src="js/toucheffects.js"></script> -->
	<script type="text/javascript">
		$().ready(function(){

			// Activate countdownTimer plugin on a '.countdown' element
			// $(".countdown").countdownTimer({
			// 	// Set the end date for the countdown
			// 	endTime: new Date("April 21, 2014 11:13:00 UTC+0200")
			// });


			// Activate notifyMe plugin on a '#notifyMe' element
			$("#notifyMe").notifyMe();


			// Activate bezierCanvas plugin on a #bg-canvas element
			$("#bg-canvas").bezierCanvas({
				maxStyles: 1,
				maxLines: 100,
				lineSpacing: 0.5,
				colorBase: {r: 255,g: 255,b: 255},
				colorVariation: {r: 0, g: 0, b: 0},
				delayVariation: 0,
				speedLinear: true,
				globalAlpha: 0.7,
				globalSpeed: 500,
			});

			// Add handler on 'Scroll down to learn more' link
			// $().ready(function(){
			// 	$(".overlap .more").click(function(e){
			// 		e.preventDefault();
			// 		$("body,html").animate({scrollTop: $(window).height()});
			// 	});
			// });


		});
	</script>
</body>
</html>