@{
    ViewData["Title"] = "سامانه ی هوشمند مدیریت تجهیزات ";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>بیمارستان شفا ساری</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquipmentManagement.Presentation.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="text-center">
                <h1 class="display-4 mt-5">Welcome</h1>
                <h5 class="">برای ورود به پنل مدیریت اموال بیمارستان شفا بر روی گزینه ی زیر کلیک بفرمایید </h5>
                <p> <a class="btn btn-primary mt-2" asp-action="Landing" asp-area="" asp-controller="Home">ورود به پنل </a>.</p>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



